<div class="d-flex">
    <div class="slider-card container" style="margin-top: -2%;">
   
     
    
    <div class="main-content">
       <div class="container">
           <img class="home-image" src="travel-blog-28.jpeg" alt="">
           <img class="hover-img" src="" alt="Hover Image">

           <div class="entry-content">
               <span class="cat-links text-light" style="margin-left: center;">Fashion</span>
               <div class="cont" style="background-color: white;">
                   <h4 class="text-dark" style="align-content: center;">Totes and Tarragon</h4>
                   <p style="align-content: center; font-size: 1.2em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                   
                   <p class="d-flex">March 16, 2017 | By physcode | </p> 
                   <div class="d-flex">
                       <a routerLink="/facebook" class="text-dark mx-2"><i class="fab fa-facebook"></i></a>
                       <a routerLink="/twitter" class="text-dark mx-2"><i class="fab fa-twitter"></i></a>
                       <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-pinterest"></i></a>
                       <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-linkedin"></i></a>
                     </div>
               </div>
           </div>

           <div style="display: block;">
               <div style="display: flex;">

                   <div class="post" style="width: 25rem; position: relative;">
                       <img class="post-img-top" src="travel-blog-31.jpeg" alt="Card image cap">
                       <img class="hover-img" src="travel-hover.jpeg" alt="Hover Image">
                       <div>
                           <span class="cat-links text-light postT">Fashion</span>
                         <h5 class="post-title" style="font-size: 110%; text-align: center;">Toots And The Price Tags</h5>
                          <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                           <p style="text-align: center;">February 18, 2017</p>
                       </div>
                     </div>
                     <div style="width: 5%;"></div>
                     <div class="post" style="width: 25rem; position: relative;">
                       <img class="post-img-top" src="travel-blog-34.jpeg" alt="Card image cap">
                       <img class="hover-img" src="travel-hover.jpeg" alt="Hover Image">
                       <div>
                           <span class="cat-links text-light posTp">Fashion</span>
                         <h5 class="post-title" style="font-size: 110%; text-align: center;">Paraded Glam</h5>
                         <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                         <p style="text-align: center;">January 27, 2017</p>
                       </div>
                     </div>
               </div>

               
               <div style="display: flex; margin-top: 2%;">

                   <div class="post" style="width: 25rem; position: relative;">
                       <img class="post-img-top" src="travel-blog-26-768x486.jpeg" alt="Card image cap">
                       <img class="hover-img" src="travel-hover.jpeg" alt="Hover Image">
                       <div>
                           <span class="cat-links text-light posTp">Fashion</span>
                         <h5 class="post-title" style="font-size: 110%; text-align: center;">Margiela & Macaron</h5>
                          <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                           <p style="text-align: center;">January 11, 2017</p>
                       </div>
                     </div>
                     <div style="width: 5%;"></div>
                     <div class="post" style="width: 25rem; position: relative;">
                       <img class="post-img-top" src="travel-blog-27-768x486.jpeg" alt="Card image cap">
                       <img class="hover-img" src="travel-hover.jpeg" alt="Hover Image">
                       <div>
                           <span class="cat-links text-light posTpp">Fashion</span>
                         <h5 class="post-title" style="font-size: 110%; text-align: center;">Caftan on a Hot Tin Roof</h5>
                         <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                         <p style="text-align: center;">January 2, 2017</p>
                       </div>
                     </div>
               </div>

               <div style="display: flex; margin-top: 2%;">

                   <div class="post" style="width: 25rem; position: relative;">
                       <img class="post-img-top" src="travel-blog-30-768x486.jpeg" alt="Card image cap">
                       <img class="hover-img" src="travel-hover.jpeg" alt="Hover Image">
                       <div>
                           <span class="cat-links text-light postT ">Fashion</span>
                           <div style="padding: 2%;">
                               <h5 class="post-title" style="font-size: 110%; text-align: center;">Avocado Fashion Toast</h5>
                          <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                           <p style="text-align: center;">December 27, 2016</p>
                           </div>
                         
                       </div>
                     </div>
                     
               </div>
               
           </div>

       </div>
    </div>
</div>
 <!-- Sidebar -->
<div class="sidebar">
   <!-- about -->
   <div class="about-box">
       <div class="about-header">ABOUT ME</div>
       <div class="about-content">
           <img src="/travel-12.jpeg" alt="About Me">
           <div class="about-text">
               <h2>Photographer &<br> Blogger</h2>
               <p>Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu.</p>
               <h3 class="blog-name">Travel Blog</h3>
           </div>
       </div>
   </div>
   <!-- facebook -->
  
   <div class="facebook">
       <h3>FIND US ON FACEBOOK</h3>
       <img src="/453866160_897256062440955_4985282045021696867_n.png" alt="Facebook Ad">
   </div>

   <!-- recent-post -->
   <div class="recent-post-box">
       <h3 class="recent-post-title">RECENT POST</h3>
       <ul class="recent-post-list">
           <li>
               <img src="travel-blog-29-150x150.jpeg" alt="Post 1">
               <div class="post-info">
                   <span class="post-category">TRAVEL</span>
                   <p><strong>Best 50 tips for travel</strong></p>
                   <p class="post-date">📅 March 27, 2017</p>
               </div>
           </li>
           <li>
               <img src="travel-8-150x150.jpeg" alt="Post 2">
               <div class="post-info">
                   <span class="post-category">SPORTS</span>
                   <p><strong>The Santa Barbara Wildfire</strong></p>
                   <p class="post-date">📅 March 17, 2017</p>
               </div>
           </li>
           <li>
               <img src="travel-blog-28-150x150.jpeg" alt="Post 3">
               <div class="post-info">
                   <span class="post-category">FASHION</span>
                   <p><strong>Totes and Tarragon</strong></p>
                   <p class="post-date">📅 March 16, 2017</p>
               </div>
           </li>
       </ul>
   </div>

   <!-- categories -->
   <div class="categories-box">
       <div class="categories-header">CATEGORIES</div>
       <ul class="categories-list">
           <li>Business <span>(3)</span></li>
           <li>Fashion <span>(6)</span></li>
           <li>Photography <span>(4)</span></li>
           <li>Sports <span>(5)</span></li>
           <li>Travel <span>(6)</span></li>
           <li>Uncategorized <span>(4)</span></li>
       </ul>
   </div>


   <div class="sidebar-box">
       <div class="ad-header">ADVERTISEMENT</div>
       <img src="\ad-sidebar.jpg" alt="Advertisement">
   </div>


   <div class="sidebar-box">
       <div class="newsletter-header">NEWSLETTER</div>
       <p>Subscribe to our newsletter</p>
       <input type="email" placeholder="Email Address">
       <button>Sign Up Now</button>
   </div>
</div>
</div>
