<div style="margin: 3%;"></div>
<div class="d-flex">
    <div class="slider-card container" style="margin-top: -2%;">



        <div class="main-content">
            <div class="container">
                <img class="home-image" src="sportblog1.jpeg" alt="">

                <div class="entry-content">
                    <span class="cat-links text-dark" style="margin-left: 25%;">Sports</span>
                    <div class="cont" style="background-color: white;">
                        <h4 class="text-dark" style="align-content: center;">The Santa Barbara Wildfire</h4>
                        <p style="align-content: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                            efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>

                        <p class="d-flex">March 27, 2017 | By physcode | </p>
                        <div class="d-flex">
                            <a routerLink="/facebook" class="text-dark mx-2"><i class="fab fa-facebook"></i></a>
                            <a routerLink="/twitter" class="text-dark mx-2"><i class="fab fa-twitter"></i></a>
                            <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-pinterest"></i></a>
                            <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div style="display: block;">
                    <div style="display: flex;">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="sport2.jpeg" alt="Card image cap">
                            <div>
                                <span class="cat-links text-dark cardT">Sports</span>
                                <h5 class="card-title" style="font-size: 110%; text-align: center;">A Perfect Day in the
                                    Nature</h5>
                                <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu,
                                    cursus […]</p>
                                <p style="text-align: center;">February 27, 2017</p>
                            </div>
                        </div>
                        <div style="width: 5%;"></div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="sport3.jpeg" alt="Card image cap">
                            <div>
                                <span class="cat-links text-dark carTp">Sports</span>
                                <h5 class="card-title" style="font-size: 110%; text-align: center;">The Sun Is
                                    Underappreciated</h5>
                                <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu,
                                    cursus […]</p>
                                <p style="text-align: center;">February 13, 2017</p>
                            </div>
                        </div>
                    </div>


                    <div style="display: flex; margin-top: 2%;">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="sport4.jpeg" alt="Card image cap">
                            <div>
                                <span class="cat-links text-dark cardT">Sports</span>
                                <div style="padding: 2%;">
                                    <h5 class="card-title" style="font-size: 110%; text-align: center;">The perfect
                                        summer body</h5>
                                    <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus
                                        eu,
                                        cursus […]</p>
                                    <p style="text-align: center;">January 14, 2017</p>
                                </div>

                            </div>
                        </div>
                        <div style="width: 5%;"></div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="sport5.jpeg" alt="Card image cap">
                            <div>
                                <span class="cat-links text-dark carTpp">Sports</span>
                                <div style="padding-left: 2%; padding-right: 2%;">
                                    <h5 class="card-title" style="font-size: 110%; text-align: center;">You big profit
                                    </h5>
                                    <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus
                                        eu,
                                        cursus […]</p>
                                    <p style="text-align: center;">August 10, 2016</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div style="margin: -15%;"></div>
    <div class="sidebar">
        <!-- about -->
        <div class="about-box">
            <div class="about-header">ABOUT ME</div>
            <div class="about-content">
                <img src="/travel-12.jpeg" alt="About Me">
                <div class="about-text">
                    <h2>Photographer &<br> Blogger</h2>
                    <p>Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu.</p>
                    <h3 class="blog-name">Travel Blog</h3>
                </div>
            </div>
        </div>
        <!-- facebook -->

        <div class="facebook">
            <h3>FIND US ON FACEBOOK</h3>
            <img src="/453866160_897256062440955_4985282045021696867_n.png" alt="Facebook Ad">
        </div>

        <!-- recent-post -->
        <div class="recent-post-box">
            <h3 class="recent-post-title">RECENT POST</h3>
            <ul class="recent-post-list">
                <li>
                    <img src="travel-blog-29-150x150.jpeg" alt="Post 1">
                    <div class="post-info">
                        <span class="post-category">TRAVEL</span>
                        <p><strong>Best 50 tips for travel</strong></p>
                        <p class="post-date">📅 March 27, 2017</p>
                    </div>
                </li>
                <li>
                    <img src="travel-8-150x150.jpeg" alt="Post 2">
                    <div class="post-info">
                        <span class="post-category">SPORTS</span>
                        <p><strong>The Santa Barbara Wildfire</strong></p>
                        <p class="post-date">📅 March 17, 2017</p>
                    </div>
                </li>
                <li>
                    <img src="travel-blog-28-150x150.jpeg" alt="Post 3">
                    <div class="post-info">
                        <span class="post-category">FASHION</span>
                        <p><strong>Totes and Tarragon</strong></p>
                        <p class="post-date">📅 March 16, 2017</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="categories-box">
            <div class="categories-header">CATEGORIES</div>
            <ul class="categories-list">
                <li>Business <span>(3)</span></li>
                <li>Fashion <span>(6)</span></li>
                <li>Photography <span>(4)</span></li>
                <li>Sports <span>(5)</span></li>
                <li>Travel <span>(6)</span></li>
                <li>Uncategorized <span>(4)</span></li>
            </ul>
        </div>


        <div class="sidebar-box">
            <div class="ad-header">ADVERTISEMENT</div>
            <img src="\ad-sidebar.jpg" alt="Advertisement">
        </div>


        <div class="sidebar-box">
            <div class="newsletter-header">NEWSLETTER</div>
            <p>Subscribe to our newsletter</p>
            <input type="email" placeholder="Email Address">
            <button>Sign Up Now</button>
        </div>
    </div>
</div>