<div class="hero-wrapper">
  <div class="image-container">
    <div class="overlay-text">
        <span class="cat-links">
            <a href="#" rel="category tag" style="font-size: 150%;">Photography</a>
        </span>
        <hr>
        <h2>
            <a href="#" 
               title="World’s hottest destinations for vegans" style="font-size: 90%;">
               World’s hottest destinations for vegans
            </a>
        </h2>
    </div>
  </div>
</div>

<div style="margin-top: -3%;">
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="travel-9-370x260.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <a class="cardtit text-warning" style="margin-left: 40%;">Sports</a>
      <p style="text-align: center;">The Santa Barabara Wildfire</p>
      <p style="text-align: center;">March 17,2017</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="travel-12-370x260.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <a class="cardtit text-warning" style="margin-left: 40%;">Fashion</a>
      <p style="text-align: center;">Totes and Tarragon</p>
      <p style="text-align: center;">March 16,2017</p>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="travel-blog-25-370x260.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <a class="cardtit text-primary" href="#" style="margin-left: 40%;">Travel</a>
      <p style="text-align: center;">The travel mystery revealed</p>
      <p style="text-align: center;">March 2,2017</p>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="travel-4-370x260.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <a class="cardtit text-warning" style="margin-left: 35%;">Photography</a>
      <p style="text-align: center;">Love advice from experts</p>
      <p style="text-align: center;">February 21,2017</p>
    </div>
  
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      </div></div>  

<div style="margin: 3%;"></div>

<div class="d-flex">
     <div class="slider-card container" style="margin-top: -2%;">
    
      
     
     <div class="main-content">
        <div class="container">
            <img class="home-image" src="travel-12.jpeg" alt="">

            <div class="entry-content">
                <span class="cat-links text-dark" style="margin-left: 25%;">Travel</span>
                <div class="cont" style="background-color: white;">
                    <h4 class="text-dark" style="align-content: center;">Best 50 tips for travel</h4>
                    <p style="align-content: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                    
                    <p class="d-flex">March 27, 2017 | By physcode | </p> 
                    <div class="d-flex">
                        <a routerLink="/facebook" class="text-dark mx-2"><i class="fab fa-facebook"></i></a>
                        <a routerLink="/twitter" class="text-dark mx-2"><i class="fab fa-twitter"></i></a>
                        <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-pinterest"></i></a>
                        <a routerLink="/instagram" class="text-dark mx-2"><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                </div>
            </div>

            <div style="display: block;">
                <div style="display: flex;">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-blog-25.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark cardT">Travel</span>
                          <h5 class="card-title" style="font-size: 110%; text-align: center;">The travel mystery revealed</h5>
                           <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                            <p style="text-align: center;">March 2, 2017</p>
                        </div>
                      </div>
                      <div style="width: 5%;"></div>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-13.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark carTp">Sports</span>
                          <h5 class="card-title" style="font-size: 110%; text-align: center;">A Perfect Day in the Nature</h5>
                          <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                          <p style="text-align: center;">February 27, 2017</p>
                        </div>
                      </div>
                </div>

                
                <div style="display: flex; margin-top: 2%;">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-9.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark carTp">Sports</span>
                          <h5 class="card-title" style="font-size: 110%; text-align: center;">The travel mystery revealed</h5>
                           <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                            <p style="text-align: center;">March 17, 2017</p>
                        </div>
                      </div>
                      <div style="width: 5%;"></div>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-12.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark carTpp">Fashion</span>
                          <h5 class="card-title" style="font-size: 110%; text-align: center;">A Perfect Day in the Nature</h5>
                          <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                          <p style="text-align: center;">February 27, 2017</p>
                        </div>
                      </div>
                </div>

                <div style="display: flex; margin-top: 2%;">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-blog-24.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark cardT">Travel</span>
                            <div style="padding: 2%;">
                                <h5 class="card-title" style="font-size: 110%; text-align: center;">Easy ways to make travel faster</h5>
                           <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                            <p style="text-align: center;">February 25, 2017</p>
                            </div>
                          
                        </div>
                      </div>
                      <div style="width: 5%;"></div>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="travel-4.jpeg" alt="Card image cap">
                        <div>
                            <span class="cat-links text-dark carTpp">Photography</span>
                            <div style="padding-left: 2%; padding-right: 2%;">
                                <h5 class="card-title" style="font-size: 110%; text-align: center;">Love advice from experts</h5>
                          <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                          <p style="text-align: center;">February 21, 2017</p>
                            </div>
                        </div>
                      </div>
                </div>
                
            </div>

        </div>
     </div>
</div>
<div style="margin: -15%;"></div>
<div class="sidebar">
    <!-- about -->
    <div class="about-box">
        <div class="about-header">ABOUT ME</div>
        <div class="about-content">
            <img src="/travel-12.jpeg" alt="About Me">
            <div class="about-text">
                <h2>Photographer &<br> Blogger</h2>
                <p>Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu.</p>
                <h3 class="blog-name">Travel Blog</h3>
            </div>
        </div>
    </div>
    <!-- facebook -->
   
    <div class="facebook">
        <h3>FIND US ON FACEBOOK</h3>
        <img src="/453866160_897256062440955_4985282045021696867_n.png" alt="Facebook Ad">
    </div>

    <!-- recent-post -->
    <div class="recent-post-box">
        <h3 class="recent-post-title">RECENT POST</h3>
        <ul class="recent-post-list">
            <li>
                <img src="travel-blog-29-150x150.jpeg" alt="Post 1">
                <div class="post-info">
                    <span class="post-category">TRAVEL</span>
                    <p><strong>Best 50 tips for travel</strong></p>
                    <p class="post-date">📅 March 27, 2017</p>
                </div>
            </li>
            <li>
                <img src="travel-8-150x150.jpeg" alt="Post 2">
                <div class="post-info">
                    <span class="post-category">SPORTS</span>
                    <p><strong>The Santa Barbara Wildfire</strong></p>
                    <p class="post-date">📅 March 17, 2017</p>
                </div>
            </li>
            <li>
                <img src="travel-blog-28-150x150.jpeg" alt="Post 3">
                <div class="post-info">
                    <span class="post-category">FASHION</span>
                    <p><strong>Totes and Tarragon</strong></p>
                    <p class="post-date">📅 March 16, 2017</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="categories-box">
        <div class="categories-header">CATEGORIES</div>
        <ul class="categories-list">
            <li>Business <span>(3)</span></li>
            <li>Fashion <span>(6)</span></li>
            <li>Photography <span>(4)</span></li>
            <li>Sports <span>(5)</span></li>
            <li>Travel <span>(6)</span></li>
            <li>Uncategorized <span>(4)</span></li>
        </ul>
    </div>


    <div class="sidebar-box">
        <div class="ad-header">ADVERTISEMENT</div>
        <img src="\ad-sidebar.jpg" alt="Advertisement">
    </div>


    <div class="sidebar-box">
        <div class="newsletter-header">NEWSLETTER</div>
        <p>Subscribe to our newsletter</p>
        <input type="email" placeholder="Email Address">
        <button>Sign Up Now</button>
    </div>
</div>
</div>