<div class="hero-wrapper">
  <div class="image-container">
    <div class="overlay-text">
        <span>
            <a href="#photography" rel="category tag" style="font-size: 150%;">Photography</a>
        </span>
        <hr>
        <h2>
            <a href="#photography" 
               title="World’s hottest destinations for vegans" style="font-size: 90%;">
               World’s hottest destinations for vegans
            </a>
        </h2>
    </div>
  </div>
</div>

<div style="margin-top: -3%;">
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card" style="width: 18rem;">
          <div class="image-wrapper-card">
            <img class="card-img-top " src="travel-8-370x260.jpeg" alt="">
            <img class="hover-img " src="travel-9-370x260.jpeg"  alt="Card image cap"/>
        </div>
    <div class="card-body">
      <a class="cardtit text-warning" style="font-size: 150%; margin-left: 40%;" routerLink="/sports" routerLinkActive="active">Sports</a>
      <p style="text-align: center;" routerLink="/sports" routerLinkActive="active">The Santa Barabara Wildfire</p>
      <p style="text-align: center;">March 17,2017</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="image-wrapper-card">
      <img class="card-img-top" src="travel-blog-28-370x260.jpeg" alt="">
      <img class="hover-img " src="travel-12-370x260.jpeg"  alt="Card image cap"/>
  </div>
    <div class="card-body">
      <a class="cardtit text-warning" style="font-size: 150%; margin-left: 35%;" routerLink="/fashion" routerLinkActive="active">Fashion</a>
      <p style="text-align: center;" routerLink="/fashion" routerLinkActive="active">Totes and Tarragon</p>
      <p style="text-align: center;">March 16,2017</p>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="image-wrapper-card">
              <img class="card-img-top " src="travel-blog-21.jpg" alt="">
              <img class="hover-img " src="travel-blog-25-370x260.jpeg"  alt="Card image cap"/>
          </div>
    <div class="card-body">
      <a class="cardtit text-primary" href="#" style="font-size: 150%; margin-left: 40%;"routerLink="/travel" routerLinkActive="active">Travel</a>
      <p style="text-align: center;"routerLink="/travel" routerLinkActive="active">The travel mystery revealed</p>
      <p style="text-align: center;">March 2,2017</p>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
          <div class="image-wrapper-card">
            <img class="card-img-top " src="travel-2-370x260.jpeg" alt="">
            <img class="hover-img " src="travel-4-370x260.jpeg"  alt="Card image cap"/>
        </div>
    <div class="card-body">
      <a class="cardtit text-warning" style="font-size: 150%; margin-left: 25%;"routerLink="/photography" routerLinkActive="active">Photography</a>
      <p style="text-align: center;"routerLink="/photography" routerLinkActive="active">Love advice from experts</p>
      <p style="text-align: center;">February 21,2017</p>
    </div>
  
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      </div></div>  

<div style="margin: 3%;"></div>

<div class="d-flex">
     <div class="slider-card container" style="margin-top: -2%;">
    
     
     <div class="main-content">
        <div class="container">

            <div style="display: block;">

              <div style="display: flex; margin-top: -2%;">

                <div class="post" style="width: 30%; position: relative;">

                  <a [routerLink]="['/post','16']">
                    <div class="image-wrapper-card">
                      <img class="hover-img " src="travel-12.jpeg" alt="">
                      <img class="card-img-top " src="travel-blog-29.jpeg"  alt="Card image cap"/>
                    </div>
                  </a>
                    <div style="margin-top: -15%;">
                        <span class="cat-links1 text-light" style="opacity: 0.6; margin-bottom: 5%;">Travel</span>
                      <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','16']">Best 50 tips for travel</h5>
                       <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                        <p style="text-align: center;">March 27, 2017</p>
                    </div>
                  </div>

                <div class="post" style="width: 30%; position: relative;">

                  <a [routerLink]="['/post','18']">
                    <div class="image-wrapper-card">
                      <img class="hover-img " src="travel-8.jpeg" alt="">
                      <img class="card-img-top " src="travel-9.jpeg"  alt="Card image cap"/>
                    </div>
                  </a>
                    <div style="margin-top: -15%;">
                        <span class="cat-links1 text-light" style="opacity: 0.6; margin-bottom: 5%;">Sports</span>
                      <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','18']">The Santa Barbara Wildfire</h5>
                       <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                        <p style="text-align: center;">March 17, 2017</p>
                    </div>
                  </div>
            </div>

                
            <div style="display: flex; margin-top: -2%;">

              <div class="post" style="width: 30%; position: relative;">
                <a [routerLink]="['/post','17']">
                  <div class="image-wrapper-card">
                    <img class="card-img-top " src="travel-blog-28-370x260.jpeg" alt="">
                    <img class="hover-img " src="travel-12.jpeg"  alt="Card image cap"/>
                </div>
                </a>
                
          
                <div style="margin-top: -15%;">
                    <span class="cat-links text-light" style="opacity: 0.6; margin-bottom: 5%;">Fashion</span>
                  <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','17']">Totes and Tarragon</h5>
                  <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                  <p style="text-align: center;">March 16, 2017</p>
                </div>
              </div>

              <div class="post" style="width: 30%; position: relative;">
                <a [routerLink]="['/post','19']">
                  <div class="image-wrapper-card">
                    <img class="card-img-top " src="travel-blog-21.jpg" alt="">
                    <img class="hover-img " src="travel-blog-25.jpeg"  alt="Card image cap"/>
                  </div>
                </a>
                
                  <div style="margin-top: -15%;">
                      <span class="cat-links2 text-light" style="opacity: 0.6; margin-bottom: 5%;">Travel</span>
                    <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','19']">The travel mystery revealed</h5>
                     <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                      <p style="text-align: center;">March 2, 2017</p>
                  </div>
                </div> 
          </div>

          <div style="display: flex; margin-top: -4%;">

            <div class="post" style="width: 30%; position: relative;">
              <a [routerLink]="['/post','20']">
                <div class="image-wrapper-card">
                  <img class="card-img-top " src="travel-9.jpeg" alt="">
                  <img class="hover-img " src="travel-13.jpeg"  alt="Card image cap"/>
              </div>
              </a>
              
              
              <div style="margin-top: -15%;">
                  <span class="cat-links1 text-light" style="opacity: 0.6; margin-bottom: 5%;">Sports</span>
                <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','20']">A Perfect Day in the Nature</h5>
                <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                <p style="text-align: center;">January 2, 2017</p>
              </div>
            </div>

            <div class="post" style="width: 30%; position: relative;">
              <a [routerLink]="['/post','21']">
                <div class="image-wrapper-card">
                  <img class="card-img-top " src="travel-blog-23-768x486.jpeg" alt="">
                  <img class="hover-img " src="travel-blog-24.jpeg"  alt="Card image cap"/>
                </div>
              </a>
              
                <div style="margin-top: -15%;">
                    <span class="cat-links2 text-light" style="opacity: 0.6; margin-bottom: 5%;"> Travel</span>
                  <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','21']">Easy ways to make travel faster</h5>
                   <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
                    <p style="text-align: center;">February 25, 2017</p>
                </div>
              </div>
        </div>

        <div style="display: flex; margin-top: -4%;">
          <div class="post" style="width: 30%; position: relative;">
            <a [routerLink]="['/post','22']">
              <div class="image-wrapper-card">
                <img class="card-img-top " src="travel-2.jpg" alt="">
                <img class="hover-img " src="travel-4.jpeg"  alt="Card image cap"/>
            </div>
            </a>
            
            <div style="margin-top: -15%;">
                <span class="cat-links3 text-light" style="opacity: 0.6; margin-bottom: 5%;">Photography</span>
              <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','22']">Love advice from experts</h5>
              <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
              <p style="text-align: center;">February 21, 2017</p>
            </div>
          </div>

          <div class="post" style="width: 30%; position: relative;">
            <a [routerLink]="['/post','23']">
              <div class="image-wrapper-card">
                <img class="card-img-top " src="travel-10.jpeg" alt="">
                <img class="hover-img " src="travel-9.jpeg"  alt="Card image cap"/>
            </div>
            </a>
            
            <div style="margin-top: -15%;">
                <span class="cat-links3 text-light" style="opacity: 0.6; margin-bottom: 5%;">Business</span>
              <h5 class="post-title" style="font-size: 150%; text-align: center;" [routerLink]="['/post','23']">A smile is a sign of friendliness</h5>
              <p class="post-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu, cursus […]</p>
              <p style="text-align: center;">February 21, 2017</p>
            </div>
          </div>

        </div>
                
            </div>

        </div>
     </div>
</div>

<div style="margin: -15%;"></div>

<div class="sidebar">
    <!-- about -->
    <div class="about-box">
        <div class="about-header">ABOUT ME</div>
        <div class="about-content">
            <img src="/travel-12.jpeg" alt="About Me">
            <div class="about-text">
                <h2>Photographer &<br> Blogger</h2>
                <p>Nam efficitur egestas risus. Sed eros augue, tempor et faucibus eu.</p>
                <h3 class="blog-name">Travel Blog</h3>
            </div>
        </div>
    </div>
    <!-- facebook -->
   
    <div class="facebook">
        <h3>FIND US ON FACEBOOK</h3>
        <img src="/453866160_897256062440955_4985282045021696867_n.png" alt="Facebook Ad">
    </div>

    <!-- recent-post -->
    <div class="recent-post-box">
        <h3 class="recent-post-title">RECENT POST</h3>
        <ul class="recent-post-list">
            <li>
                <img src="travel-blog-29-150x150.jpeg" alt="Post 1">
                <div class="post-info">
                    <span class="post-category">TRAVEL</span>
                    <p><strong>Best 50 tips for travel</strong></p>
                    <p class="post-date">📅 March 27, 2017</p>
                </div>
            </li>
            <li>
                <img src="travel-8-150x150.jpeg" alt="Post 2">
                <div class="post-info">
                    <span class="post-category">SPORTS</span>
                    <p><strong>The Santa Barbara Wildfire</strong></p>
                    <p class="post-date">📅 March 17, 2017</p>
                </div>
            </li>
            <li>
                <img src="travel-blog-28-150x150.jpeg" alt="Post 3">
                <div class="post-info">
                    <span class="post-category">FASHION</span>
                    <p><strong>Totes and Tarragon</strong></p>
                    <p class="post-date">📅 March 16, 2017</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="categories-box">
        <div class="categories-header">CATEGORIES</div>
        <ul class="categories-list">
            <li>Business <span>(3)</span></li>
            <li>Fashion <span>(6)</span></li>
            <li>Photography <span>(4)</span></li>
            <li>Sports <span>(5)</span></li>
            <li>Travel <span>(6)</span></li>
            <li>Uncategorized <span>(4)</span></li>
        </ul>
    </div>


    <div class="sidebar-box">
        <div class="ad-header">ADVERTISEMENT</div>
        <img src="\ad-sidebar.jpg" alt="Advertisement">
    </div>


    <div class="sidebar-box">
        <div class="newsletter-header">NEWSLETTER</div>
        <p>Subscribe to our newsletter</p>
        <input type="email" placeholder="Email Address">
        <button>Sign Up Now</button>
    </div>
</div>
</div>