body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Merriweather, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: Normal;
    line-height: 26px;
    color: #555;
}

.inner-page-content {
  padding-top: 120px; /* Adjust this value as needed */
}

