<div class="container mt-5">
    <div class="main-content">
        <div class="card mb-4">
            <div class="image-wrapper">
                    <a [routerLink]="['/post','30']">
                    <img src="\travel-blog-29.jpeg" class=" post-img-top" alt="Main Post Image">
                    <img src="\travel-12.jpeg" class=" hover-img" alt="Main Post Image">
                </a>
                </div>
            <div class="card-body text-center">

                <h2 class="card-title">Best 50 Tips for Travel</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <p class="text-muted">March 23, 2017 | by admin</p>
                <a href="#" class="btn btn-success">Read More</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="image-wrapper-card">
                        <a [routerLink]="['/post','31']">
                        <img src="\travel-blog-21.jpg" class="card-img-top" alt="Post Image">
                        <img src="\travel-blog-25.jpeg" class="hover-img" alt="Post Image">
                        </a>
                    </div>

                    <div class="card-body">
                        <span class="badge bg-success mb-2">Travel</span>
                        <h5 class="card-title">The travel mystery revealed</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet...</p>
                        <p class="text-muted">March 3, 2017</p>
                        <a href="#" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="image-wrapper-card">
                        <a [routerLink]="['/post','32']">
                        <img src="\travel-blog-23-768x486.jpeg" class="card-img-top" alt="Post Image">
                        <img src="\travel-blog-24.jpeg" class="hover-img" alt="Post Image">
                        </a>
                    </div>

                    <div class="card-body">
                        <span class="badge bg-success mb-2">Travel</span>
                        <h5 class="card-title">Easy ways to make travel faster</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet...</p>
                        <p class="text-muted">February 25, 2017</p>
                        <a href="#" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="image-wrapper-card">
                        <a [routerLink]="['/post','33']">

                        <img src="travel-blog-24.jpeg" class="card-img-top" alt="Post Image">
                        <img src="travel-blog-29.jpeg" class="hover-img" alt="Post Image">
                        </a>

                    </div>
                    <div class="card-body">
                        <span class="badge bg-success mb-2">Travel</span>
                        <h5 class="card-title">Find a quick way to travel</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet...</p>
                        <p class="text-muted">January 11, 2017</p>
                        <a href="#" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="image-wrapper-card">
                        <a [routerLink]="['/post','34']">

                        <img src="\travel-blog-25.jpeg" class="card-img-top" alt="Post Image">
                        <img src="\travel-4.jpeg" class="hover-img" alt="Post Image">
                        </a>

                    </div>

                    <div class="card-body">
                        <span class="badge bg-success mb-2">Travel</span>
                        <h5 class="card-title">Top 3 ways to buy a used travel</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet...</p>
                        <p class="text-muted">January 7, 2017</p>
                        <a href="#" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="image-wrapper-card">
                        <a [routerLink]="['/post','35']">

                        <img src="\travel-blog-22-768x486.jpeg" class="card-img-top" alt="Post Image">
                        <img src="\travel-blog-21.jpg" class="hover-img" alt="Post Image">
                        </a>

                    </div>

                    <div class="card-body">
                        <span class="badge bg-success mb-2">Travel</span>
                        <h5 class="card-title">The A - Z guide of travel</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet...</p>
                        <p class="text-muted">March 13, 2016</p>
                        <a href="#" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- السايدبار -->
    <div class="sidebar">
        <div class="about-box">
            <div class="about-header">ABOUT ME</div>
            <div class="about-content">
                <img src="/travel-12.jpeg" alt="About Me">
                <div class="about-text">
                    <h2>Photographer &<br> Blogger</h2>
                    <p>Nam efficitur egestas risus...</p>
                    <h3 class="blog-name">Travel Blog</h3>
                </div>
            </div>
        </div>

        <div class="facebook">
            <h3>FIND US ON FACEBOOK</h3>
            <img src="/453866160_897256062440955_4985282045021696867_n.png" alt="Facebook Ad">
        </div>

        <div class="recent-post-box">
            <h3 class="recent-post-title">RECENT POST</h3>
            <ul class="recent-post-list">
                <li>
                    <img src="travel-blog-29-150x150.jpeg" alt="Post 1">
                    <div class="post-info">
                        <span class="post-category">TRAVEL</span>
                        <p><strong>Best 50 tips for travel</strong></p>
                        <p class="post-date">📅 March 27, 2017</p>
                    </div>
                </li>
                <li>
                    <img src="travel-8-150x150.jpeg" alt="Post 2">
                    <div class="post-info">
                        <span class="post-category">SPORTS</span>
                        <p><strong>The Santa Barbara Wildfire</strong></p>
                        <p class="post-date">📅 March 17, 2017</p>
                    </div>
                </li>
                <li>
                    <img src="travel-blog-28-150x150.jpeg" alt="Post 3">
                    <div class="post-info">
                        <span class="post-category">FASHION</span>
                        <p><strong>Totes and Tarragon</strong></p>
                        <p class="post-date">📅 March 16, 2017</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="categories-box">
            <div class="categories-header">CATEGORIES</div>
            <ul class="categories-list">
                <li>Business <span>(3)</span></li>
                <li>Fashion <span>(6)</span></li>
                <li>Photography <span>(4)</span></li>
                <li>Sports <span>(5)</span></li>
                <li>Travel <span>(6)</span></li>
                <li>Uncategorized <span>(4)</span></li>
            </ul>
        </div>

        <div class="sidebar-box">
            <div class="ad-header">ADVERTISEMENT</div>
            <img src="\ad-sidebar.jpg" alt="Advertisement">
        </div>

        <div class="sidebar-box">
            <div class="newsletter-header">NEWSLETTER</div>
            <p>Subscribe to our newsletter</p>
            <input type="email" placeholder="Email Address">
            <button>Sign Up Now</button>
        </div>
    </div>
</div>